@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import "tailwindcss";

#heading{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}